@{
    ViewBag.Title = "CertificateDashboard";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
    List<m2ostnext.tbl_certificate_configure> certificates = (List<m2ostnext.tbl_certificate_configure>)ViewData["certificates"];
    @model m2ostnext.Models.CertificateAssignmentTheme
    List<m2ostnext.Models.CertificateAssignmentTheme> CList = (List<m2ostnext.Models.CertificateAssignmentTheme>)ViewData["certificateList"];
    string serverPath = System.Configuration.ConfigurationManager.AppSettings["SERVERPATH"];
}

<link rel="stylesheet" href="~/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<style>

    .inputHeight {
        height: 35px;
        border-radius: 4px;
        border-width: 1px;
    }

    #theme-div {
        cursor: pointer;
    }

    .my-3 {
        margin: 0.30rem 0rem;
    }



    .color-picker {
        position: relative;
        display: inline-block;
    }



        .color-picker input {
            width: 0;
            opacity: 0;
            position: absolute;
        }



        .color-picker::before {
            content: '';
            display: block;
            width: 80%;
            height: 100%;
            background-color: transparent;
            /* Set the default background color */

            position: absolute;
            top: 0;
            left: 0;
        }



    .color-container {
        position: relative;
        display: flex;
    }



    .color-svg-container {
        height: 35px;
        width: 28px;
        background: #FFF;
        border-width: 1px;
        border-style: solid;
        border-color: #616161;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }



    .colorCodeInput {
        height: 35px;
        width: 72%;
        outline-style: none;
        background: #FFF;
        border-width: 1px;
        border-style: solid;
        border-color: #616161;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 5px;
    }



    #custom-file-upload {
        display: inline-block;
        position: relative;
    }



    #file-input, #LogoRightImg-input, #BgImage-input, #file-input2, #LogoRightImg-input2, #BgImage-input2 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }



    #file-label {
        display: inline-block;
        padding: 0px 12px;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        color: #616161;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
        height: 35px;
        border-radius: 0px 3px 3px 0px;
        background: #F3F3F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid black;
        border-left: none;
        display: flex;
        align-items: center;
    }



    #selected-file, #BGImg-file, #RightLogoImg-file, #selected-file2, #BGImg-file2, #RightLogoImg-file2 {
        height: 35px;
        width: 45%;
        border: 1px solid black;
        border-right: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 4px 0px 0px 3px;
    }





    /* cretificate CSS*/

    .m-2 {
        margin: 10px 0px;
    }

    .subtext {
        color: #000000;
        font-weight: 600;
    }

    .text-start {
        text-align: start;
        font-size: 12px;
    }



    #certificate-1, #certificate-2 {
        /*background: url(../Content/images/RED.jpeg);*/

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 380px;
        width: 100%;
        /*margin:5px 10px;*/
    }



    .Batalogo {
        /*  height: 5vh;

        width: 30vw;*/
    }



    .textCenter {
        /*   text-align: center;

        margin: 0 20% 0 20%*/
    }



    .CertificateHeaderGold {
        display: flex;
        justify-content: center;
        color: gold;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Great Vibes', cursive;
        margin-top: 5%;
    }



    .CertificateHeaderRed {
        display: flex;
        justify-content: center;
        color: red;
        font-size: 1rem;
        font-weight: 700;
        /* font-family: 'Great Vibes', cursive; */
    }



    .CertificateSubHeaderRed {
        display: flex;
        justify-content: center;
        color: red;
        font-size: 0.7rem;
        font-weight: 700;
    }



    .content_container {
        /* margin-top: 4vh; */

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.3em;
    }



    .userName {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 1.1rem;
        font-weight: 600;
        border-bottom: 1px solid #000;
        width: 70%;
        /* font-family: 'Great Vibes', cursive; */
    }



    .Paragraph_scored {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Great Vibes', cursive;
    }



    .Score_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Great Vibes', cursive;
    }



    .percentage {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        font-family: sans-serif;
        border-bottom: 1px solid #000;
        width: 15vw;
        /* font-family: 'Great Vibes', cursive; */
    }



    .training_name {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        border-bottom: 1px solid #000;
        font-family: sans-serif;
        width: 100%;
    }



    .date {
        display: flex;
        justify-content: center;
        align-items: end;
        color: #000;
        font-size: 0.6rem;
        font-weight: 600;
        font-family: sans-serif;
        margin-top: 2vh;
        width: 100%;
    }

    .conducted_name {
        font-size: 20px !important;
    }

    .logo {
        max-width: 20%;
        margin-top: 20px;
    }
</style>
@if (TempData["MessageCertifatate"] != null)
{
    <script>
        $(document).ready(function () {
            $("#msg-txt").html("<p>@TempData["MessageCertifatate"]</p>");
            $('#m2ost-dialog').modal('show');
        });
    </script>
}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default custom-panel" id="certificateList">
            <div class="panel-heading custom-panel-heading">

                <div class="panel-title">List of Certificates</div>

            </div>
            <div class="panel-body">
                <div class="col-md-12 column" style="padding:0px;margin:1vh 0vh 4vh">
                    <div class="" style="display:flex;justify-content:flex-end;">
                        <button id="disableButton" class="btn btn-default" style="padding:2px 10px;margin-right:5px" onclick="CreateCertificate(event)">Create Certificate</button>
                    </div>
                </div>
                <table id="report-table" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="10%">
                                Certificate Id
                            </th>
                            <th width="80%">
                                Certificate Title
                            </th>
                            <th width="10%">
                                Edit
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in CList)
                        {
                            <tr>
                                <td>@item.IdCertificate</td>
                                @*<td>@item.SelectTheme</td>*@
                                @if (item.SelectTheme == "1")
                                {
                                    <td>Template Certificate 1</td>
                                }
                                else
                                {
                                    <td>Template Certificate 2</td>
                                }
                                <td style="display:none;">@item.HeaderThemeFirst</td>
                                <td style="display:none;">@item.SubText1ThemeFirst</td>
                                <td style="display:none;">@item.SubText2ThemeFirst</td>
                                <td style="display:none;">@item.SubText3ThemeFirst</td>
                                <td style="display:none;">@item.TextColorHeaderThemeFirst</td>
                                <td style="display:none;">@item.TextColorSubTextThemeFirst</td>
                                <td style="display:none;">@item.LogoImageLeftThemeFirst</td>
                                <td style="display:none;">@item.LogoImageRightThemeFirst</td>
                                <td style="display:none;">@item.BackgroundImageThemeFirst</td>

                                <td style="display:none;">@item.HeaderThemeSecond</td>
                                <td style="display:none;">@item.SubTextFirstThemeSecond</td>
                                <td style="display:none;">@item.RightNameThemeSecond</td>
                                <td style="display:none;">@item.LeftDesignationThemeSecond</td>
                                <td style="display:none;">@item.RightDepartmentThemeSecond</td>
                                <td style="display:none;">@item.LeftRegionThemeSecond</td>
                                <td style="display:none;">@item.SubText2ThemeSecond</td>
                                <td style="display:none;">@item.TextColorHeaderThemeSecond</td>
                                <td style="display:none;">@item.TextColorThemeSecond</td>
                                <td style="display:none;">@item.BackgroundImageThemeSecond</td>
                                <td style="display:none;">@item.LogoImageLeftThemeSecond</td>
                                <td style="display:none;">@item.LogoImageRightThemeSecond</td>






                                <td class="textcenter">
                                    @if (item.SelectTheme == "1")
                                    {
                                        <a onclick="Edit(this)"><i class="glyphicon glyphicon-edit"></i></a>
                                    }
                                    else
                                    {
                                        <a onclick="Edit2(this)"><i class="glyphicon glyphicon-edit"></i></a>
                                    }
                                </td>
                                @*<td class="textcenter">
                                        <a href="" onclick="Delete('@item.IdCertificate')"><i class="glyphicon glyphicon-remove"></i></a>

                                    </td>*@
                            </tr>
                        }
                        @*<tr>
                                <td>1</td>
                                <td>Certificate Theme 1</td>
                                <td class="textcenter">
                                    <a href=""><i class="glyphicon glyphicon-edit"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Certificate Theme 2</td>
                                <td class="textcenter">
                                    <a href=""><i class="glyphicon glyphicon-edit"></i></a>
                                </td>
                            </tr>*@
                    </tbody>

                </table>
            </div>

        </div>


        <div class="panel panel-default custom-panel" id="certificate">
            <div class="panel-heading custom-panel-heading">

                <div class="panel-title">Certificate Assignment </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class=""><label class="control-label">Select Theme</label></div>
                                        @Html.TextBoxFor(model => model.IdCertificate, new { type = "text", id = "IdCertificate", style = "display:none;" })
                                        <select id="theme-div" name="assessment-div" class="form-control inputHeight my-3" style="width:38%;border-color:#000">
                                            <option value="1" id="theme-div1">Template Certificate 1</option>
                                            <option value="2" id="theme-div2">Template Certificate 2</option>
                                        </select>
                                    </div>
                                    @*<div class="col-md-6"></div>*@
                                    <div id="certificate-1form">
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Header </label></div>
                                            <input class="inputHeight" type="text" name="" id="Header_text" style="width:80%" maxlength="100">
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Sub-Text 1</label></div>
                                            <input class="inputHeight" type="text" name="" id="Sub_text1" style="width:80%" maxlength="100">
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Sub-text 2</label></div>
                                            <input class="inputHeight" type="text" name="" id="Sub_text2" style="width:80%" maxlength="100">
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Sub-text 3</label></div>
                                            <input class="inputHeight" type="text" name="" id="Sub_text3" style="width:80%" maxlength="100">
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Text Color(Header)</label></div>
                                            @*<input class="inputHeight" type="color" name="" id="" style="width:80%">*@
                                            <div class="color-container">
                                                <input type="text" name="" id="colorCodeInputHeader" class="colorCodeInput">
                                                <div class="color-svg-container">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                         onclick="openColorPicker()" style="position: absolute;">
                                                        <path d="M10.0918 23.9166L2.91683 16.7416C2.72238 16.5472 2.57655 16.3333 2.47933 16.1C2.38211 15.8666 2.3335 15.6236 2.3335 15.3708C2.3335 15.118 2.38211 14.875 2.47933 14.6416C2.57655 14.4083 2.72238 14.1944 2.91683 14L9.62516 7.32081L6.5335 4.22915L8.34183 2.33331L20.0085 14C20.2029 14.1944 20.3439 14.4083 20.4314 14.6416C20.5189 14.875 20.5627 15.118 20.5627 15.3708C20.5627 15.6236 20.5189 15.8666 20.4314 16.1C20.3439 16.3333 20.2029 16.5472 20.0085 16.7416L12.8335 23.9166C12.6391 24.1111 12.4252 24.2569 12.1918 24.3541C11.9585 24.4514 11.7154 24.5 11.4627 24.5C11.2099 24.5 10.9668 24.4514 10.7335 24.3541C10.5002 24.2569 10.2863 24.1111 10.0918 23.9166ZM11.4627 9.15831L5.221 15.4H17.7043L11.4627 9.15831ZM23.1002 24.5C22.4002 24.5 21.8071 24.2521 21.321 23.7562C20.8349 23.2604 20.5918 22.6528 20.5918 21.9333C20.5918 21.4083 20.7231 20.9125 20.9856 20.4458C21.2481 19.9791 21.5446 19.5222 21.8752 19.075L23.1002 17.5L24.3835 19.075C24.6946 19.5222 24.9863 19.9791 25.2585 20.4458C25.5307 20.9125 25.6668 21.4083 25.6668 21.9333C25.6668 22.6528 25.4141 23.2604 24.9085 23.7562C24.4029 24.2521 23.8002 24.5 23.1002 24.5Z"
                                                              fill="#616161" />
                                                    </svg>
                                                </div>
                                                <div class="color-picker">
                                                    <input id="colorPickerInput" class="inputHeight color-picker-input" type="color" style="width: 80%;"
                                                           onchange="updateColorCode(this.value)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Text Color(Subtext)</label></div>
                                            @* <input class="inputHeight" type="color" name="" id="" style="width:80%">*@
                                            <div class="color-container">
                                                <input type="text" name="" id="colorCodeInputSubText" class="colorCodeInput">
                                                <div class="color-svg-container">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                         onclick="openColorPickerSubText()" style="position: absolute;">
                                                        <path d="M10.0918 23.9166L2.91683 16.7416C2.72238 16.5472 2.57655 16.3333 2.47933 16.1C2.38211 15.8666 2.3335 15.6236 2.3335 15.3708C2.3335 15.118 2.38211 14.875 2.47933 14.6416C2.57655 14.4083 2.72238 14.1944 2.91683 14L9.62516 7.32081L6.5335 4.22915L8.34183 2.33331L20.0085 14C20.2029 14.1944 20.3439 14.4083 20.4314 14.6416C20.5189 14.875 20.5627 15.118 20.5627 15.3708C20.5627 15.6236 20.5189 15.8666 20.4314 16.1C20.3439 16.3333 20.2029 16.5472 20.0085 16.7416L12.8335 23.9166C12.6391 24.1111 12.4252 24.2569 12.1918 24.3541C11.9585 24.4514 11.7154 24.5 11.4627 24.5C11.2099 24.5 10.9668 24.4514 10.7335 24.3541C10.5002 24.2569 10.2863 24.1111 10.0918 23.9166ZM11.4627 9.15831L5.221 15.4H17.7043L11.4627 9.15831ZM23.1002 24.5C22.4002 24.5 21.8071 24.2521 21.321 23.7562C20.8349 23.2604 20.5918 22.6528 20.5918 21.9333C20.5918 21.4083 20.7231 20.9125 20.9856 20.4458C21.2481 19.9791 21.5446 19.5222 21.8752 19.075L23.1002 17.5L24.3835 19.075C24.6946 19.5222 24.9863 19.9791 25.2585 20.4458C25.5307 20.9125 25.6668 21.4083 25.6668 21.9333C25.6668 22.6528 25.4141 23.2604 24.9085 23.7562C24.4029 24.2521 23.8002 24.5 23.1002 24.5Z"
                                                              fill="#616161" />
                                                    </svg>
                                                </div>
                                                <div class="color-picker">
                                                    <input id="colorPickerInputSubText" class="inputHeight color-picker-input" type="color" style="width: 80%;"
                                                           onchange="updateColorCodeSubText(this.value)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Logo  Image left</label></div>
                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput1($event)">*@
                                            <div style="display: flex;">
                                                <div id="selected-file"></div>
                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.LogoImageLeftThemeFirst, new { type = "text", id = "file-inputhidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.LogoImageLeftThemeFirstUploadDir, new { type = "file", accept = "image/*", id = "file-input", @class = "file-input", onchange = "handleLogoImgLeftInput()" })

                                                    @*<input type="hidden" id="uploadDir1" value="@Url.Content("~/Content/SKILLMUNI_DATA/CertificationAssessment")" />

                                                        <input type="file" accept="image/*" id="file-input" placeholder="Image Name" onchange="handleLogoImgLeftInput()">*@
                                                    <label id="file-label" for="LogoLeftImg-input">Browse Image</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Logo  Image right</label></div>
                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput2($event)">*@
                                            <div style="display: flex;">
                                                <div id="RightLogoImg-file"></div>
                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.LogoImageRightThemeFirst, new { type = "text", id = "LogoRightImg-inputhidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.LogoImageRightThemeFirstUploadDir, new { type = "file", accept = "image/*", id = "LogoRightImg-input", @class = "file-input", onchange = "handleLogoImgRightInput()" })


                                                    @*<input type="hidden" id="uploadDir2" value="@Url.Content("~/Content/SKILLMUNI_DATA/CertificationAssessment")" />
                                                        <input type="file" accept="image/*" id="LogoRightImg-input" placeholder="Image Name" onchange="handleLogoImgRightInput()">*@
                                                    <label id="file-label" for="LogoRightImg-input">Browse Image</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <div class=""><label class="control-label">Background Image</label></div>
                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput3($event)">*@
                                            <div style="display: flex;">
                                                <div id="BGImg-file"></div>
                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.BackgroundImageThemeFirst, new { type = "text", id = "BgImage-inputhidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.BackgroundImageThemeFirstUploadDir, new { type = "file", accept = "image/*", id = "BgImage-input", @class = "file-input", onchange = "handleBgImgInput()" })


                                                    @*<input type="hidden" id="uploadDir3" value="@Url.Content("~/Content/SKILLMUNI_DATA/CertificationAssessment")" />
                                                        <input type="file" accept="image/*" id="BgImage-input" placeholder="Image Name" onchange="handleBgImgInput()">*@
                                                    <label id="file-label" for="BgImage-input">Browse Image</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="certificate-2form">
                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Header </label></div>

                                            <input class="inputHeight" type="text" name="" id="headerInputC2" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Sub-Text 1</label></div>

                                            <textarea class="inputHeight" id="subText1Input1C2" style="width:80%"></textarea>

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Right(Name) </label></div>

                                            <input class="inputHeight" type="text" name="" id="rightNameInput" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Left(Designation)</label></div>

                                            <input class="inputHeight" type="text" name="" id="leftDesignationInput" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Right(Department)</label></div>

                                            <input class="inputHeight" type="text" name="" id="rightDepartmentInput" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Left(Region)  </label></div>

                                            <input class="inputHeight" type="text" name="" id="leftRegionInput" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Sub-text 2</label></div>

                                            <input class="inputHeight" type="text" name="" id="subText1Input2C2" style="width:80%">

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Text Color(Header)</label></div>

                                            @*<input class="inputHeight" type="color" name="" id="" style="width:80%">*@

                                            <div class="color-container">

                                                <input type="text" name="" id="colorCodeInputHeader2" class="colorCodeInput">

                                                <div class="color-svg-container">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                         onclick="openColorPicker2()" style="position: absolute;cursor:pointer;">

                                                        <path d="M10.0918 23.9166L2.91683 16.7416C2.72238 16.5472 2.57655 16.3333 2.47933 16.1C2.38211 15.8666 2.3335 15.6236 2.3335 15.3708C2.3335 15.118 2.38211 14.875 2.47933 14.6416C2.57655 14.4083 2.72238 14.1944 2.91683 14L9.62516 7.32081L6.5335 4.22915L8.34183 2.33331L20.0085 14C20.2029 14.1944 20.3439 14.4083 20.4314 14.6416C20.5189 14.875 20.5627 15.118 20.5627 15.3708C20.5627 15.6236 20.5189 15.8666 20.4314 16.1C20.3439 16.3333 20.2029 16.5472 20.0085 16.7416L12.8335 23.9166C12.6391 24.1111 12.4252 24.2569 12.1918 24.3541C11.9585 24.4514 11.7154 24.5 11.4627 24.5C11.2099 24.5 10.9668 24.4514 10.7335 24.3541C10.5002 24.2569 10.2863 24.1111 10.0918 23.9166ZM11.4627 9.15831L5.221 15.4H17.7043L11.4627 9.15831ZM23.1002 24.5C22.4002 24.5 21.8071 24.2521 21.321 23.7562C20.8349 23.2604 20.5918 22.6528 20.5918 21.9333C20.5918 21.4083 20.7231 20.9125 20.9856 20.4458C21.2481 19.9791 21.5446 19.5222 21.8752 19.075L23.1002 17.5L24.3835 19.075C24.6946 19.5222 24.9863 19.9791 25.2585 20.4458C25.5307 20.9125 25.6668 21.4083 25.6668 21.9333C25.6668 22.6528 25.4141 23.2604 24.9085 23.7562C24.4029 24.2521 23.8002 24.5 23.1002 24.5Z"
                                                              fill="#616161" />

                                                    </svg>

                                                </div>

                                                <div class="color-picker">

                                                    <input id="colorPickerInput2" class="inputHeight color-picker-input" type="color" style="width: 80%;"
                                                           onchange="updateColorCode2(this.value)" />

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Text Color(Subtext)</label></div>

                                            @* <input class="inputHeight" type="color" name="" id="" style="width:80%">*@

                                            <div class="color-container">

                                                <input type="text" name="" id="colorCodeInputSubText2" class="colorCodeInput">

                                                <div class="color-svg-container">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"
                                                         onclick="openColorPickerSubText2()" style="position: absolute; cursor: pointer;">

                                                        <path d="M10.0918 23.9166L2.91683 16.7416C2.72238 16.5472 2.57655 16.3333 2.47933 16.1C2.38211 15.8666 2.3335 15.6236 2.3335 15.3708C2.3335 15.118 2.38211 14.875 2.47933 14.6416C2.57655 14.4083 2.72238 14.1944 2.91683 14L9.62516 7.32081L6.5335 4.22915L8.34183 2.33331L20.0085 14C20.2029 14.1944 20.3439 14.4083 20.4314 14.6416C20.5189 14.875 20.5627 15.118 20.5627 15.3708C20.5627 15.6236 20.5189 15.8666 20.4314 16.1C20.3439 16.3333 20.2029 16.5472 20.0085 16.7416L12.8335 23.9166C12.6391 24.1111 12.4252 24.2569 12.1918 24.3541C11.9585 24.4514 11.7154 24.5 11.4627 24.5C11.2099 24.5 10.9668 24.4514 10.7335 24.3541C10.5002 24.2569 10.2863 24.1111 10.0918 23.9166ZM11.4627 9.15831L5.221 15.4H17.7043L11.4627 9.15831ZM23.1002 24.5C22.4002 24.5 21.8071 24.2521 21.321 23.7562C20.8349 23.2604 20.5918 22.6528 20.5918 21.9333C20.5918 21.4083 20.7231 20.9125 20.9856 20.4458C21.2481 19.9791 21.5446 19.5222 21.8752 19.075L23.1002 17.5L24.3835 19.075C24.6946 19.5222 24.9863 19.9791 25.2585 20.4458C25.5307 20.9125 25.6668 21.4083 25.6668 21.9333C25.6668 22.6528 25.4141 23.2604 24.9085 23.7562C24.4029 24.2521 23.8002 24.5 23.1002 24.5Z"
                                                              fill="#616161" />

                                                    </svg>

                                                </div>

                                                <div class="color-picker">

                                                    <input id="colorPickerInputSubText2" class="inputHeight color-picker-input" type="color" style="width: 80%;"
                                                           onchange="updateColorCodeSubText2(this.value)" />

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Logo  Image left</label></div>

                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput1($event)">*@

                                            <div style="display: flex;">

                                                <div id="selected-file2"></div>

                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.LogoImageLeftThemeSecond, new { type = "text", id = "file-input2hidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.LogoImageLeftThemeSecondUploadDir, new { type = "file", accept = "image/*", id = "file-input2", @class = "file-input", onchange = "handleLogoImgLeftInput2()" })


                                                    @*<input type="file" accept="image/*" id="file-input2" placeholder="Image Name" onchange="handleLogoImgLeftInput2()">*@

                                                    <label id="file-label" for="LogoLeftImg-input">Browse Image</label>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Logo  Image right</label></div>

                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput2($event)">*@

                                            <div style="display: flex;">

                                                <div id="RightLogoImg-file2"></div>

                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.LogoImageRightThemeSecond, new { type = "text", id = "LogoRightImg-input2hidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.LogoImageRightThemeSecondUploadDir, new { type = "file", accept = "image/*", id = "LogoRightImg-input2", @class = "file-input", onchange = "handleLogoImgRightInput2()" })


                                                    @*<input type="file" accept="image/*" id="LogoRightImg-input2" placeholder="Image Name" onchange="handleLogoImgRightInput2()">*@

                                                    <label id="file-label" for="LogoRightImg-input">Browse Image</label>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 my-3">

                                            <div class=""><label class="control-label">Background Image</label></div>

                                            @*<input class="inputHeight" type="file" placeholder="Image Name" accept="image/*,video/*" id="imageInput" (change)="handleFileInput3($event)">*@

                                            <div style="display: flex;">

                                                <div id="BGImg-file2"></div>

                                                <div id="custom-file-upload" style="display: flex; position: relative;">

                                                    @Html.TextBoxFor(model => model.BackgroundImageThemeSecond, new { type = "text", id = "BgImage-input2hidden", style = "display:none;" })

                                                    @Html.TextBoxFor(model => model.BackgroundImageThemeSecondUploadDir, new { type = "file", accept = "image/*", id = "BgImage-input2", @class = "file-input", onchange = "handleBgImgInput2()" })


                                                    @*<input type="file" accept="image/*" id="BgImage-input2" placeholder="Image Name" onchange="handleBgImgInput2()">*@

                                                    <label id="file-label" for="BgImage-input">Browse Image</label>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <div style="width: auto; height: 223px;">
                                        @*<img src="/Content/images/bataTraningCertificate.png" height="100%" width="100%" id="bataTraningCertificate">*@
                                        <img src="https://www.m2ost.in/M2OST_CMS_PriME/Content/images/bataTraningCertificate.png" height="100%" width="100%" id="bataTraningCertificate">
                                        <img src="https://www.m2ost.in/M2OST_CMS_PriME/Content/images/codeOfEthicsCertificate.png" height="100%" width="100%" id="codeOfEthicsCertificate">
                                    </div>
                                    <div style="margin-top:5px;text-align:center;">
                                        <a style="text-decoration: underline;color: #00C0F3;" class="" onclick="previewCertificate($('#previewLink').data('dropdown-value'))" id="previewLink">Click to Preview</a>
                                    </div>
                                </div>

                                <div class="" style="display:flex;justify-content:flex-start;margin-top:20vh;">
                                    <a href="" class="btn btn-default" style="padding:2px 10px;margin-right:5px;width:40%;" onclick="CancelCertificate()">Cancel</a>
                                    <a href="" class="btn btn-default" style="padding:2px 10px;margin-right:5px;width:40%;" id="C1" onclick="CreateCertificateSave()">Save</a>
                                    <a href="" class="btn btn-default" style="padding:2px 10px;margin-right:5px;width:40%;" id="C2" onclick="CreateCertificate2Save()">Save</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body" style="display:flex;justify-content:center;">
                    <div id="certificate-1">
                        <div class="" style="display:flex;justify-content:space-between;margin:15px 15px 0px;height:44px;">
                            <div style="width: 20%; height: 44px;">
                                @*@<img class="" src="~/Content/images/bata-logo.png" style="width:100%;margin:5% 5%;" alt="" id="previewLogoLeft">@*@
                                <img class="" src="" style="width:100%;height:100%;" alt="" id="previewLogoLeft">
                            </div>
                            <div class="" style="width: 20%; height: 44px;">
                                @*<img src="~/Content/images/bata_trainingLogo.png" style="width:100%;" alt="" id="previewLogoRight">*@
                                <img src="" style="width:100%;height:100%" ;" alt="" id="previewLogoRight">
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="" id="previewHeader" style="font-size: 35px; font-weight: 400; font-family: 'Great Vibes', cursive; font-style: normal; margin-top: 10px; ">
                                @*@Online Training color: #d1a04d;@*@
                            </div>
                            <div class="" id="previewSubText1" style="font-size: 15px; font-weight: 700;">
                                @*@CERTIFICATION OF APPREIATION color: #df2632;@*@
                            </div>
                            <div class="" id="previewSubText2" style="font-size: 8px; font-weight: 700; ">
                                @*@PROUDLY PRESENTED TO color: #df2632;@*@
                            </div>
                        </div>
                        <div class="text-center" style=" margin: 10px 130px; ">
                            <div class="m-2 subtext" style="margin-top: 15px; border-bottom: 1px solid #000;">
                                Madyntika Mehara
                            </div>
                            <div class="m-2" style="font-size:15px;font-weight: 400; font-family: 'Great Vibes', cursive; font-style: normal;display:flex">
                                Scored <div class="subtext" style="border-bottom: 1px solid #000;width:38%;font-family:none">80%</div> and has successfully completed
                            </div>
                            <div class="subtext m-2" style=" border-bottom: 1px solid #000;">
                                Shoe Care Plan-Training
                            </div>
                            <div class="m-2" id="previewSubText3" style="font-size: 15px; font-weight: 400; font-family: 'Great Vibes', cursive; font-style: normal;">
                                @* Conducted by Bata Training Academy*@
                            </div>
                        </div>
                        <div class="text-center" style="margin-top:65px;">
                            <div class="subtext" style="font-size:10px;">
                                Date: @DateTime.UtcNow.AddHours(5).AddMinutes(30).ToString("dd/MM/yyyy")
                            </div>
                            <div class="subtext" style="font-size:6px;">
                                THIS IS SYSTEM GENERATED CERTIFICATE,NO SIGNATURE REQUIRED
                            </div>

                        </div>
                    </div>
                    <div id="certificate-2">

                        <div class="" style="display:flex;justify-content:space-between;margin:15px 15px 0px;height:44px;">

                            <div style="width: 20%; height: 44px;">

                                @*<img class=""  src="~/Content/images/bata-logo.png" style="width:100%;margin:5% 5%;" alt="">*@

                                <img class="" id="previewLogoLeft2" style="width: 100%; height: 100%; " alt="">

                            </div>

                            <div class="" style="width: 20%; height: 44px;">

                                @*<img src="~/Content/images/bata_trainingLogo.png" style="width:100%;" alt="">*@

                                <img src="" id="previewLogoRight2" style="width: 100%; height: 100%;" alt="">

                            </div>

                        </div>

                        <div class="text-center">

                            <div class="" id="previewHeader2" style="font-size: 35px; font-weight: 400; font-family: 'Great Vibes', cursive; font-style: normal; margin-top: 10px; ">

                                Code of Ethics Acknowledgment

                            </div>

                            <div class="" id="previewSubText12" style="font-size: 8px; font-weight:400;text-align:start;margin:0px 25px;height:60px;">

                                @*1.I have read and understood the Bata Code of Ethics. <br />

                                    2.1 have no conflict of interest with any company within the Bata India Ltd. and I do not otherwise contravene the Code of Ethics. <br />

                                    3.In any situation in which I am uncertain whether I am in a conflict of interest with any

                                    company within Bata India Ltd. or if I am uncertain whether I otherwise

                                    contravene the Code of Ethics, I will immediately notify my manager or HR about the same. <br />

                                    4.I realize that adherence to the Code of Ethics is a condition of my employment*@



                            </div>

                        </div>

                        <div class="text-center" style=" margin: 10px 100px;">

                            <div style="display:flex;">

                                <div class="subtext text-start" id="rightNameInputC2" style="width:50%">

                                    @*Name -*@

                                </div>

                                <div class="subtext text-start" id="leftDesignationInputC2" style="width:50%">

                                    @*Designation -*@

                                </div>

                            </div>

                            <div style="display: flex;">

                                <div class="m-2 subtext text-start" id="rightDepartmentInputC2" style="width:50%">

                                    @*Department -*@

                                </div>

                                <div class="m-2 subtext text-start" id="leftRegionInputC2" style="width:50%">

                                    @*Region -*@

                                </div>

                            </div>
                            <div class="m-2" id="previewSubText22" style="font-size: 15px; font-weight: 400; font-family: 'Great Vibes', cursive; font-style: normal;">

                                @*Conducted by Bata Training Academy*@

                            </div>

                        </div>

                        <div class="text-center" style="margin-top:65px;">

                            <div class="subtext" style="font-size:10px;">

                                Date: @DateTime.UtcNow.AddHours(5).AddMinutes(30).ToString("dd/MM/yyyy")

                            </div>

                            <div class="subtext" style="font-size:6px;">
                                THIS IS SYSTEM GENERATED CERTIFICATE,NO SIGNATURE REQUIRED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function () {

        $("#certificateList").show();
        $("#certificate").hide();
        $("#codeOfEthicsCertificate").hide();
        $("#certificate-2").hide();
        $("#certificate-2form").hide();
        // Attach a change event listener to the Subtype dropdown
        $('#previewLink').data('dropdown-value', 1);
        $("#C2").hide();
        var CList = @Html.Raw(Json.Encode(ViewData["certificateList"]));
        console.log(CList)
        console.log(CList && CList.length >= 2);
        if (CList && CList.length >= 2) {
            $("#disableButton").prop("disabled", true);
        }

        $("#theme-div").change(function () {
            // Check if the selected value is "Ontime Completion(Start Date)"
            var selectedValue = $(this).val();
            if (selectedValue == 1) {
                $("#bataTraningCertificate").show();
                $("#certificate-1form").show();
                $("#certificate-2form").hide();
                $("#codeOfEthicsCertificate").hide();
                $('#previewLink').data('dropdown-value', selectedValue);

            } else if (selectedValue == 2) {
                $("#bataTraningCertificate").hide();
                $("#certificate-2form").show();
                $("#certificate-1form").hide();
                $("#codeOfEthicsCertificate").show();
                $('#previewLink').data('dropdown-value', selectedValue);

            }
        });


    });

    $("#theme-div").change(function () {
        // Check if "Template Certificate 1" is selected
        if ($(this).val() === "1") {
            // Reset input values
            $("input").val("");
            $("input[type=file]").val("");
            $("#selected-file").text("");
            $("#RightLogoImg-file").text("");
            $("#BGImg-file").text("");
            $("#selected-file2").text("");
            $("#RightLogoImg-file2").text("");
            $("#BGImg-file2").text("");
            $("#C2").hide();
            $("#C1").show();

            // You can include other types of input elements like textarea and select if needed
            // $("input, textarea, select").val("");
        }
        else {
            $("#C1").hide();
            $("#C2").show();


        }


    });

    function CreateCertificate(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        $("#certificateList").hide();
        $("#certificate").show();

    }
    function CancelCertificate() {
        $("#certificateList").show();
        $("#certificate").hide();
    }
    function previewCertificate(id) {
        if (id == 1) {
            $("#certificate-2").hide();
            $("#certificate-1").show();
        } else {
            $("#certificate-1").hide();
            $("#certificate-2").show();
        }
    }
    function openColorPicker() {
        document.getElementById('colorPickerInput').click();
    }
    function openColorPickerSubText() {
        document.getElementById('colorPickerInputSubText').click();
    }

    function updateColorCode(color) {
        console.log("Selected color:", color);
        document.getElementById('colorCodeInputHeader').value = color;

    }
    function updateColorCodeSubText(color) {
        console.log("Selected color:", color);
        document.getElementById('colorCodeInputSubText').value = color;


    }
    function handleLogoImgLeftInput() {
        const fileInput = document.getElementById('file-input');
        const selectedFileDisplay = document.getElementById('selected-file');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;

    }
    function handleLogoImgRightInput() {
        const fileInput = document.getElementById('LogoRightImg-input');
        const selectedFileDisplay = document.getElementById('RightLogoImg-file');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;
    }
    function handleBgImgInput() {
        debugger;
        const fileInput = document.getElementById('BgImage-input');
        const selectedFileDisplay = document.getElementById('BGImg-file');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;
    }

    function openColorPicker2() {
        document.getElementById('colorPickerInput2').click();
    }
    function openColorPickerSubText2() {
        document.getElementById('colorPickerInputSubText2').click();
    }
    function updateColorCode2(color) {
        console.log("Selected color:", color);
        document.getElementById('colorCodeInputHeader2').value = color;

    }
    function updateColorCodeSubText2(color) {
        console.log("Selected color:", color);
        document.getElementById('colorCodeInputSubText2').value = color;
    }

    function handleLogoImgLeftInput2() {
        debugger
        const fileInput = document.getElementById('file-input2');
        const selectedFileDisplay = document.getElementById('selected-file2');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;
    }
    function handleLogoImgRightInput2() {
        const fileInput = document.getElementById('LogoRightImg-input2');
        const selectedFileDisplay = document.getElementById('RightLogoImg-file2');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;
    }
    function handleBgImgInput2() {
        debugger;
        const fileInput = document.getElementById('BgImage-input2');
        const selectedFileDisplay = document.getElementById('BGImg-file2');

        const fileName = fileInput.files[0].name;
        selectedFileDisplay.textContent = `${fileName}`;
    }
    function CreateCertificateSave() {
        (event).preventDefault();
        debugger;
        //if ($('#Header_text').val() == '' || $('#Sub_text1').val() == '' || $('#Sub_text2').val() == '' || $('#Sub_text3').val() == '' || $('#colorCodeInputHeader').val() == '' || $('#colorCodeInputSubText').val() || $('#selected-file').text() == '' || $('#RightLogoImg-file').text() == '' || $('#BGImg-file').text() == '') {
        //    alert('Please enter the all value');
        //    return false;

        //}
        if ($('#Header_text').val() == '' || $('#Sub_text1').val() == '' || $('#Sub_text2').val() == '' || $('#Sub_text3').val() == '' || $('#colorCodeInputHeader').val() == '' || $('#colorCodeInputSubText').val() == ''|| $('#selected-file').text() == '' || $('#RightLogoImg-file').text() == '' || $('#BGImg-file').text() == '') {
            alert('Please enter the all value');
            return false;

        }
        else {



            var formData = new FormData();
            formData.append('IdCertificate', $('input[id="IdCertificate"]').val());
            formData.append('SelectTheme', $('#theme-div').val());
            formData.append('HeaderThemeFirst', $('input[id="Header_text"]').val());
            formData.append('SubText1ThemeFirst', $('input[id="Sub_text1"]').val());
            formData.append('SubText2ThemeFirst', $('input[id="Sub_text2"]').val());
            formData.append('SubText3ThemeFirst', $('input[id="Sub_text3"]').val());
            formData.append('TextColorHeaderThemeFirst', $('input[id="colorCodeInputHeader"]').val());
            formData.append('TextColorSubTextThemeFirst', $('input[id="colorCodeInputSubText"]').val());
            formData.append('LogoImageLeftThemeFirstUploadDir', $('#file-input')[0].files[0]);
            formData.append('LogoImageLeftThemeFirst', $('#file-inputhidden').val());
            formData.append('LogoImageRightThemeFirst', $('#LogoRightImg-inputhidden').val());
            formData.append('BackgroundImageThemeFirst', $('#BgImage-inputhidden').val());

            formData.append('LogoImageRightThemeFirstUploadDir', $('#LogoRightImg-input')[0].files[0]); // Append file input
            formData.append('BackgroundImageThemeFirstUploadDir', $('#BgImage-input')[0].files[0]); // Append file input

            // Send the data using Ajax
            $.ajax({

                url: '@Url.Action("CreateCertificateSave", "Certification")',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    $("#msg-txt").html("<p>Data inserted successfully</p>");
                    $('#m2ost-dialog').modal('show');
                },
                error: function (xhr, status, error) {
                    $("#msg-txt").html("<p>Data is not inserted successfully</p>");
                    $('#m2ost-dialog').modal('show');
                }
            });
        }
    }

    function CreateCertificate2Save() {
        (event).preventDefault();
        if ($('#headerInputC2').val() == '' || $('#subText1Input1C2').val() == '' || $('#rightNameInput').val() == '' || $('#leftDesignationInput').val() == '' || $('#rightDepartmentInput').val() == '' || $('#leftRegionInput').val() =='' || $('#subText1Input2C2').val()=='' || $('#colorCodeInputHeader2').val()=='' || $('#selected-file2').text() == '' || $('#RightLogoImg-file2').text() == '' || $('#BGImg-file2').text() == '') {
            alert('Please enter the all value');
            return false;

        }
        else {


            var formData2 = new FormData;
            formData2.append('IdCertificate', $('input[id="IdCertificate"]').val());
            formData2.append('SelectTheme', $('#theme-div').val());
            formData2.append('HeaderThemeSecond', $('input[id="headerInputC2"]').val());
            formData2.append('SubTextFirstThemeSecond', $('#subText1Input1C2').val());
            formData2.append('RightNameThemeSecond', $('input[id="rightNameInput"]').val());
            formData2.append('LeftDesignationThemeSecond', $('input[id="leftDesignationInput"]').val());
            formData2.append('RightDepartmentThemeSecond', $('input[id="rightDepartmentInput"]').val());
            formData2.append('LeftRegionThemeSecond', $('input[id="leftRegionInput"]').val());
            formData2.append('SubText2ThemeSecond', $('#subText1Input2C2').val());
            formData2.append('TextColorHeaderThemeSecond', $('input[id="colorCodeInputHeader2"]').val());
            formData2.append('TextColorThemeSecond', $('input[id="colorCodeInputSubText2"]').val());

            formData2.append('BackgroundImageThemeSecondUploadDir', $('input[id="BgImage-input2"]')[0].files[0]);
            formData2.append('BackgroundImageThemeSecond', $("#BGImg-file2").text());

            formData2.append('LogoImageLeftThemeSecondUploadDir', $('input[id="file-input2"]')[0].files[0]);
            formData2.append('LogoImageLeftThemeSecond', $('input[id="file-input2hidden"]').val());

            formData2.append('LogoImageRightThemeSecondUploadDir', $('input[id="LogoRightImg-input2"]')[0].files[0]);
            formData2.append('LogoImageRightThemeSecond', $("#RightLogoImg-file2").text());

            // AJAX request
            $.ajax({
                url: '@Url.Action("CreateCertificate2Save", "Certification")',
                // Specify your endpoint URL
                type: 'POST', // Specify the request type
                data: formData2, // Pass the form data
                contentType: false, // Prevent jQuery from automatically setting the Content-Type header
                processData: false, // Prevent jQuery from processing the data
                success: function (response) {
                    $("#msg-txt").html("<p>Data inserted successfully</p>");
                    $('#m2ost-dialog').modal('show');

                },
                error: function (xhr, status, error) {
                    $("#msg-txt").html("<p>Data is not inserted successfully</p>");
                    $('#m2ost-dialog').modal('show');
                }
            });
        }
    }

    function Edit(element) {
        var currentRow = element.closest('tr');
        var IdCertificate = currentRow.cells[0].innerText;
        var themediv = currentRow.cells[1].innerText;
        var Header_text = currentRow.cells[2].innerText;
        var Sub_text1 = currentRow.cells[3].innerText;
        var Sub_text2 = currentRow.cells[4].innerText;
        var Sub_text3 = currentRow.cells[5].innerText;
        var colorCodeInputHeader = currentRow.cells[6].innerText;
        var colorCodeInputSubText = currentRow.cells[7].innerText;
        var selectedfile = currentRow.cells[8].innerText;
        var RightLogoImgfile = currentRow.cells[9].innerText;
        var BGImgfile = currentRow.cells[10].innerText;

        $('#IdCertificate').val(IdCertificate);
        //$('#theme-div').val(themediv);
        if ($('#theme-div').val(themediv) == 1) {
            $('#theme-div2').prop('selected', true);
            $('#theme-div').prop('disabled', true);
        }
        else {
            $('#theme-div1').prop('selected', true);
            $('#theme-div').prop('disabled', true);
        }

        $('#Header_text').val(Header_text);
        $('#Sub_text1').val(Sub_text1);
        $('#Sub_text2').val(Sub_text2);
        $('#Sub_text3').val(Sub_text3);
        $('#colorCodeInputHeader').val(colorCodeInputHeader);
        $('#colorCodeInputSubText').val(colorCodeInputSubText);
        $('#file-inputhidden').val(selectedfile);
        const selectedFileDisplay = document.getElementById('selected-file');
        selectedFileDisplay.textContent = selectedfile;

        $('#LogoRightImg-inputhidden').val(RightLogoImgfile);
        const selectedFileDisplay1 = document.getElementById('RightLogoImg-file');
        selectedFileDisplay1.textContent = RightLogoImgfile;

        $('#BgImage-inputhidden').val(BGImgfile);
        const selectedFileDisplay2 = document.getElementById('BGImg-file');
        selectedFileDisplay2.textContent = BGImgfile;
        $("#certificateList").hide();
        $("#certificate").show();

    }

    function Edit2(element) {
        var currentRow = element.closest('tr');
        var IdCertificate = currentRow.cells[0].innerText;
        var themediv = currentRow.cells[1].innerText;
        var Header_text = currentRow.cells[11].innerText;
        var Sub_text1 = currentRow.cells[12].innerText;
        var Sub_text2 = currentRow.cells[13].innerText;
        var Sub_text3 = currentRow.cells[14].innerText;
        var colorCodeInputHeader = currentRow.cells[15].innerText;
        var colorCodeInputSubText = currentRow.cells[16].innerText;
        var Subtext2thmesecond = currentRow.cells[17].innerText;
        var TextcolorHeadsecond = currentRow.cells[18].innerText;
        var TextcolorThemesecond = currentRow.cells[19].innerText;
        var BGImgfile = currentRow.cells[20].innerText;
        var LeftLogoImgfile = currentRow.cells[21].innerText;
        var RightLogoImgfile = currentRow.cells[22].innerText;


        $('#IdCertificate').val(IdCertificate);
        //$('#theme-div').val(themediv);
        if ($('#theme-div').val(themediv) == 1) {
            $('#theme-div1').prop('selected', true);
            $('#theme-div').prop('disabled', true);

        }
        else {
            $('#theme-div2').prop('selected', true);
            $('#theme-div').prop('disabled', true);
            $('#theme-div').change();

        }

        $('#headerInputC2').val(Header_text);
        $('#subText1Input1C2').val(Sub_text1);
        $('#rightNameInput').val(Sub_text2);
        $('#leftDesignationInput').val(Sub_text3);
        $('#rightDepartmentInput').val(colorCodeInputHeader);
        $('#leftRegionInput').val(colorCodeInputSubText);
        $('#subText1Input2C2').val(Subtext2thmesecond);
        $('#colorCodeInputHeader2').val(TextcolorHeadsecond);
        $('#colorCodeInputSubText2').val(TextcolorThemesecond);

        $('#file-input2hidden').val(LeftLogoImgfile);
        const selectedFileDisplay1 = document.getElementById('selected-file2');
        selectedFileDisplay1.textContent = LeftLogoImgfile;

        $('#LogoRightImg-inputhidden').val(RightLogoImgfile);
        const selectedFileDisplay3 = document.getElementById('RightLogoImg-file2');
        selectedFileDisplay3.textContent = RightLogoImgfile;

        $('#BgImage-inputhidden').val(BGImgfile);
        const selectedFileDisplay2 = document.getElementById('BGImg-file2');
        selectedFileDisplay2.textContent = BGImgfile;
        $("#certificateList").hide();
        $("#certificate").show();

    }

    //preview
    function previewCertificate(id) {
        console.log("Preview Certificate function called."); // Check if the function is being called
        if (id == 1) {
            console.log("Certificate 1 selected.", id); // Check if condition id == 1 is satisfied

            $("#certificate-2").hide();

            $("#certificate-2form").hide();

            $("#certificate-1form").show();

            $("#certificate-1").show();

            // Prevent form submission

            event.preventDefault();
            debugger
            // Get form values

            var header = document.getElementById("Header_text").value.trim();

            var subText1 = document.getElementById("Sub_text1").value.trim();

            var subText2 = document.getElementById("Sub_text2").value.trim();

            var subText3 = document.getElementById("Sub_text3").value.trim();

            var headerColor = document.getElementById("colorCodeInputHeader").value.trim();

            var subtextColor = document.getElementById("colorCodeInputSubText").value.trim();

            // Get selected images
            debugger

            var logoLeft = document.getElementById("file-input").files[0];

            var logoRight = document.getElementById("LogoRightImg-input").files[0];

            var background = document.getElementById("BgImage-input").files[0];
            debugger;
            //hiden field
            // var CommonURL = "https://www.m2ost.in/M2OST_CMS_PriME/Content/SKILLMUNI_DATA/CATEGORY_IMAGE/CertificationAssessment";
             //var CommonURL = "/CATEGORY_IMAGE/CertificationAssessmen";
            //if (logoLeftHidden) {
            //    var logoLeftHidden = $('#selected-file').text();
            //    var logoLeft = CommonURL + "/CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHidden;

            //} else {

            //}



            //var logoLeftHidden1 = $('#RightLogoImg-file').text();
            //var logoRight = CommonURL + "/" + logoLeftHidden1;

            //var logoLeftHidden2 = $('#BGImg-file').text();
            //var background = CommonURL + "/" + logoLeftHidden2;





            // Check if all fields are filled

            if (header !== '' && subText1 !== '' && subText2 !== '' && subText3 !== '' && headerColor !== '' && subtextColor !== '' || logoLeft || logoRight || background || logoLeftHidden || logoRightHidden || backgroundHidden) {

                // Display form data in modal

                document.getElementById("previewHeader").innerHTML = header;

                previewHeader.style.color = headerColor;

                document.getElementById("previewSubText1").innerHTML = subText1;

                previewSubText1.style.color = subtextColor;

                document.getElementById("previewSubText2").innerHTML = subText2;

                previewSubText2.style.color = subtextColor;



                document.getElementById("previewSubText3").innerHTML = subText3;
                  var CommonURL = "@serverPath";
                // Set image sources
                if (logoLeft == undefined) {
                    var logoLeftHiddenleft = $('#selected-file').text();
                    var logoLeft = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHiddenleft;
                    document.getElementById("previewLogoLeft").src = logoLeft;

                }
                else {
                    document.getElementById("previewLogoLeft").src = URL.createObjectURL(logoLeft);

                }

                if (logoRight == undefined) {
                    var logoLeftHiddenright = $('#RightLogoImg-file').text();
                    var logoRight = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHiddenright;
                    document.getElementById("previewLogoRight").src = logoRight;

                }
                else {
                    document.getElementById("previewLogoRight").src = URL.createObjectURL(logoRight);

                }
                if (background == undefined) {
                    var logoLeftHidden2 = $('#BGImg-file').text();
                    var background = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHidden2;
                    var previewBackground = document.getElementById("certificate-1");
                   //previewBackground.style.backgroundImage = "url('" + URL.createObjectURL(background) + "')";
                    $('#certificate-1').css('background-image', 'url(' + background + ')');

                }
                else {
                    var previewBackground = document.getElementById("certificate-1");
                    previewBackground.style.backgroundImage = "url('" + URL.createObjectURL(background) + "')";
                    $('#certificate-1').css('background-image', 'url(' + background + ')');
                }


                // Show modal

                $('#myModal').modal('show');

                console.log("All values are not empty. Opening modal...");

            } else {

                // Alert if any field is empty



                alert("Please fill all the fields in the form.");

            }

        } else {

            debugger

            $("#certificate-1").hide();

            $("#certificate-1form").hide();

            $("#certificate-2form").show();

            $("#certificate-2").show();

            event.preventDefault();

            var headerC2 = document.getElementById("headerInputC2").value.trim();

            var subText1C2 = document.getElementById("subText1Input1C2").value.trim();

            var subText2C2 = document.getElementById("subText1Input2C2").value.trim();

            var rightName = document.getElementById("rightNameInput").value.trim();

            var leftDesignation = document.getElementById("leftDesignationInput").value.trim();

            var rightDepartment = document.getElementById("rightDepartmentInput").value.trim();

            var leftRegion = document.getElementById("leftRegionInput").value.trim();

            var headerColor2 = document.getElementById("colorCodeInputHeader2").value.trim();

            var subtextColor2 = document.getElementById("colorCodeInputSubText2").value.trim();

            var logoLeftC2 = document.getElementById("file-input2").files[0];

            var logoRightC2 = document.getElementById("LogoRightImg-input2").files[0];

            var backgroundC2 = document.getElementById("BgImage-input2").files[0];



           // var CommonURL = "https://www.m2ost.in/M2OST_CMS_PriME/Content/SKILLMUNI_DATA/CATEGORY_IMAGE/CertificationAssessment";
            @*var CommonURL =  "@serverPath/CATEGORY_IMAGE/CertificationAssessmen";*@
           /* var logoLeft3 = $('#selected-file2').text();*/
          /*var logoLeftC2 = CommonURL + "/" + logoLeft3;*/

           /* var logoRight3 = $('#RightLogoImg-file2').text();*/
            //var logoRightC2 = CommonURL + "/" + logoRight3;

            /*var background3 = $('#BGImg-file2').text();*/
           /* var backgroundC2 = CommonURL + "/" + background3;*/

            // Check if all fields are filled

            if (headerC2 !== '' && subText1C2 !== '' && subText2C2 !== '' && rightName !== '' && leftDesignation !== '' && rightDepartment !== '' && leftRegion !== '' || logoLeftC2 || logoLeftC2 || logoLeftC2) {

                // Display form data in modal



                document.getElementById("previewHeader2").innerHTML = headerC2;

                previewHeader2.style.color = headerColor2;

                document.getElementById("previewSubText12").innerHTML = subText1C2.replace(/\n/g, "<br>");

                previewSubText12.style.color = subtextColor2;

                document.getElementById("previewSubText22").innerHTML = subText2C2;

                previewSubText22.style.color = subtextColor2;

                document.getElementById("rightNameInputC2").innerHTML = rightName;

                document.getElementById("leftDesignationInputC2").innerHTML = leftDesignation;

                document.getElementById("rightDepartmentInputC2").innerHTML = rightDepartment;

                document.getElementById("leftRegionInputC2").innerHTML = leftRegion;
                  var CommonURL = "@serverPath";
                // Set image sources
                if (logoLeftC2 == undefined) {
                    var logoLeftHiddenleft = $('#selected-file2').text();
                    var logoLeft = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHiddenleft;
                    document.getElementById("previewLogoLeft2").src = logoLeft;

                }
                else {
                    document.getElementById("previewLogoLeft2").src = URL.createObjectURL(logoLeftC2);

                }

                //document.getElementById("previewLogoLeft").src = logoLeft ? URL.createObjectURL(logoLeft) : URL.createObjectURL(logoLeftHidden);
                // document.getElementById("previewLogoRight2").src = logoRightC2;
                if (logoRightC2 == undefined) {
                    var logoLeftHiddenright = $('#RightLogoImg-file2').text();
                    var logoRight = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHiddenright;
                    document.getElementById("previewLogoRight2").src = logoRight;
                }
                else {
                    document.getElementById("previewLogoRight2").src = URL.createObjectURL(logoRightC2);

                }

                if (backgroundC2 == undefined) {
                    var logoLeftHidden2 = $('#BGImg-file2').text();
                    var background = CommonURL + "CATEGORY_IMAGE/CertificationAssessment/" + logoLeftHidden2;
                    var previewBackground = document.getElementById("certificate-2");
                    // previewBackground.style.backgroundImage = "url('" + URL.createObjectURL(background) + "')";
                    $('#certificate-2').css('background-image', 'url(' + background + ')');
                }
                else {

                    var previewBackground = document.getElementById("certificate-2");
                    previewBackground.style.backgroundImage = "url('" + URL.createObjectURL(backgroundC2) + "')";
                }



               // $('#certificate-2').css('background-image', 'url(' + backgroundC2 + ')');

                // Show modal

                $('#myModal').modal('show');

                console.log("All values are not empty. Opening modal...");

            } else {

                // Alert if any field is empty



                alert("Please fill all the fields in the form.");

            }



        }

    }



</script>
